.header{
    background-image: url("../../assets/bookimage.jfif");
    height: 600px;
    margin-right: 150px;
    margin-left: 481px;
    margin-top: 75px;
    opacity: 1.6;
    align-items: center;
}
.img{
    background-image: url("../../assets/fingerprint.jpg");
    height: 200px;
}
.image{
    background-color: white;
    margin-right: 275px;
    margin-left: 337px;
    margin-top: 50px;
}
#demo{
    margin-top: 187px;
    margin-left: 122px;
}