<!-- <div class="container"> -->
    <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="firstname">FirstName:</label>
                    <input type="text" id="firstname" name="firstname" [(ngModel)]="data.firstName" class="from-control">
                </div>
                <div class="form-group">
                    <label for="lastname">LastName:</label>
                    <input type="text" id="lastname" name="lastname" [(ngModel)]="data.lastName" class="from-control">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" [(ngModel)]="data.email" class="from-control">
                </div>
                <div class="form-group">
                    <label for="appcompany">ApplicantCompany:</label>
                    <input type="text" id="appcompany" name="appcompany" [(ngModel)]="data.Applicantcompanyname" class="from-control">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <input type="number" id="mobile" name="mobile" [(ngModel)]="data.mobile" class="from-control">
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="addressline1">AddressLine1:</label>
                    <input type="text" id="addressline1" name="addressline1" [(ngModel)]="data.address.addressLine1" class="from-control">
                </div>
                <div class="form-group">
                    <label for="addressline2">AddressLine2:</label>
                    <input type="text" id="addressline2" name="addressline2" [(ngModel)]="data.address.addressLine2" class="from-control">
                </div>
                <div class="form-group">
                    <label for="country">Country:</label>
                    <select type="text"  id="country" name="country" [(ngModel)]="data.address.country" class="from-control" (change)="mystate($event)">
                        <option *ngFor = "let cnty of countrylist" [value]="cnty.iso2">{{cnty.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="country">State:</label>
                    <select type="text"  id="country" name="country" [(ngModel)]="data.address.state" class="from-control" (change)="mycity($event)">
                        <option *ngFor = "let sta of statelist" [value]="sta.iso2">{{sta.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="country">City:</label>
                    <select type="text"  id="country" name="country" [(ngModel)]="data.address.city" class="from-control">
                        <option *ngFor = "let cty of citylist" [value]="cty.iso2">{{cty.name}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
<!-- </div> -->