table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 30%;
  }
  
  td, th {
    width: 25%;
  }
  
  .center-div{
    margin: 0 auto
  }

  a{
      cursor: pointer;
      color: #1B557A;
  }