<div class="row">
    <div class="col-lg-6">
        <form [formGroup]="loginForm">
            <mat-form-field class="form-group">
                <mat-label>Email</mat-label>
                <input formControlName="Email" matInput placeholder="Please enter email" required><br>
                <mat-error *ngIf="">name is required</mat-error>
            </mat-form-field><br>
            <mat-form-field class="form-group">
                <mat-label>Password</mat-label>
                <input formControlName="Password" matInput placeholder="Please enter Password" required>
            </mat-form-field><br>
            <button mat-button class="btn btn-primary">Login</button>
        </form>
    </div>
</div>